*{
    margin: 0px;
    padding: 0px;
}


#map {
    height: 100%;
  }
  
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    }

#Content{
    width: 100%;
    height: 100%;
    position: relative;
}

#contentBtn{
    position: absolute;
    z-index: +1;
    margin-left: 95%;
    margin-top: 5%;
}


.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
  }


#btnFilter{
   margin-top: 10px;    
}


#contentInfo{
    position: absolute;
    z-index: +1;
    margin-right: 95%;
    margin-top: 5%;
    margin-left: 1%;
}

@media only screen and (max-width: 600px) {
    .search {
        background-color: lightblue;
    }
}

#contenedorLugares{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 50px auto;
    
}

#contenedorLugaresIzq{
    width: 50%;
}

#contenedorLugaresDer{
    width: 50%;
}

#ContentSearch{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#divIcon{
    width: 8%;
}

#divInput{
    width: 87%;
}

#divButton{
    width: 5%;
}

#searchBar{
    width: 100%;
    font-size: 20px;
    border: 0px;
    outline:0px;
    color: dimgray;
}

#lupaIcon{
    font-size: 2em;
    color: dimgray;
}

#contenedorLogos{
    display: flex;
    flex-direction: row;
    width: 100%; 
}

#logoSanbue{
    width: 30%;
    margin-left: 25%;
}

#logoProyecto{
    margin-top: 5%;
    width: 70%;
    align-items: flex-start;
}

.botonFAQ{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px gray;
    background-color: white;
    width: 100%;
    height: 5%;
    outline: none;
    text-align: left;
    font-size: 20px;
    color: gray;
    
}

#contenedorFAQ{
    width: 100%;
    padding: 1px;
}

.iconFAQ{
    color: dimgray;
}

#distroBoton{
    display: flex;
    flex-direction: row;

}

#textoBoton{
    width: 95%;
}

#iconBoton{
    margin-top: 1%;
    width: 5%;
}

.divOculta {
    width: 100%;
    padding: 5px;
    display: none;
}